[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = http://github.com/bkad/CamelCaseMotion.git
